@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  @apply bg-base text-pink antialiased;
}

body::-webkit-scrollbar {
  display: none;
}
